*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#F3F4F6;
    color:#111827;
}

header{
    background:#1E3A8A;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h2{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:500;
}

nav a:hover{
    text-decoration:underline;
}

.section{
    padding:60px 20px;
    text-align:center;
}

.container{
    max-width:900px;
    margin:auto;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    margin-bottom:30px;
}

input, select, textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:20px;
    border-radius:6px;
    border:1px solid #D1D5DB;
}

button{
    background:#3B82F6;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#1E40AF;
}

footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}


/* Modern Card */
.card{
    transition:0.3s;
}
.card:hover{
    transform:translateY(-5px);
}

/* Login */
.center{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#1E3A8A,#3B82F6);
}

.login-card{
    background:white;
    padding:40px;
    border-radius:15px;
    width:350px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    text-align:center;
}

/* Dark Mode */
body.dark{
    background:#111827;
    color:white;
}

body.dark .card,
body.dark .person-card{
    background:#1F2937;
    color:white;
}

body.dark header{
    background:#0F172A;
}

/* Toggle Button */
.dark-toggle{
    position:fixed;
    top:15px;
    right:20px;
    background:#111827;
    color:white;
    padding:8px 12px;
    border-radius:20px;
    cursor:pointer;
    font-size:14px;
}
